[Unit]
Description=Meticulous Telemetry Server instance
After=nginx.service

#make sure $TELEMETRY_SERVER_PATH is defined (should be done in install.sh)
[Service]
EnvironmentFile=/opt/telemetry-service/env
ExecStartPre=-/bin/bash -c 'if [[ -z "$TELEMETRY_SERVER_PATH" ]] && echo "TELEMETRY_SERVER_PATH not found" && exit 10;'
ExecStart=docker compose -f "${TELEMETRY_SERVER_PATH}/docker-compose.yml" up
ExecStop=docker compose -f "${TELEMETRY_SERVER_PATH}/docker-compose.yml" down
Restart=always
RestartSec=10
RestartPreventExitStatus=10
StandardOutput=null

[Install]
WantedBy=multi-user.target
